@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Rubik:wght@300&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    text-align: center;
}
body {
    font-family: Rubik, sans-serif;
}

/* Headings */

h1, h2 {
    font-family: Rubik Dirt, sans-serif;
    color: #FF8B32;
}

h2 {
    color: #f66469;
}

/* Header */
#header {
    background: #2f4858;
    padding: 12px 0;
} 
.container {
    width: 97%;
    margin: 0 auto;
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a:hover {
    border-bottom: 2px solid #f66469;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu ul li {
    float: left;
    margin: 5px 15px 5px 15px;
    font-size: 20px;
} 

.menu ul li a {
    text-decoration: none;
    color: #f66469;
}

.logo h1 a:hover{
    border-bottom: 2px solid #575432;
}

/* Sections */
#welcome-section > h2 {
    text-align:center;
}

/* Screen Responiveness */
/* Big Screen */
/* Medium Screen */
/* Small Screen */