* {
    margin: 0;
    padding: 0;
    border: none;
}

body, html {
    font-family: ubuntu, sans-serif;
}

#header {

} 

.container {
    
}

/*Logo and Navigation*/

.menu {
    float: right;
    display: inline-block
}

.menu ul {
    padding: 0;
    margin: 0;
}

